{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Size</td>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>
                    <a href="{{ path('product.show', {'id': product.id}) }}">{{ product.name}}</a>
                </td>
                <td>{{ product.description}}</td>
                <td>{{ product.size}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
